video {
  position: absolute;
  z-index: -1;
  width: auto;
  height: 100%;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #f00;
  border-radius: 20%;
  margin: 10px;
  z-index: 0;
}

.throwable{
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 20%;
  margin: 10px;
  z-index: 0;
}

.spinner{
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 20%;
  margin: 10px;
  z-index: 0;
}

.hoverable{
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 20%;
  margin: 10px;
  z-index: 0;
}

.sMenu div {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  margin: 10px;
  background-color: rgb(62, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sMenu div img {
  margin-left: auto;
  width: 75%;
  height: 75%;
}